<div class="wrapper">
  <table border="0" cellspacing="0" align="center">
    <tbody>
      <tr>
        <td align="left"><img class="logo" src="https://staging.technow.net.br/static/media/logo-p.fcbd36b3.png"> </td>
      </tr>
      <tr>
        <td>
          <hr>
          <br>
          Olá <b><span style="font-size:22px">{{user}}</span></b>,</td>
      </tr>
      <tr>
        <td><br>
          Este endereço de e-mail foi utilizado para acessar o sistema de monitoramento <b>SmartSec</b>.
          Para confirmar seu e-mail,
          e liberar seu acesso à plataforma, clique no botão <b>"Confirmar e-mail"</b>.
        </td>
      </tr>
      <tr>
        <td align="center">
          <br>
          <br>
          <br>
          <a href="{{link}}" target="_blank" rel="noopener noreferrer">
            <button class="btn-confirm" type="button">
              Confirmar e-mail
            </button>
          </a>
        </td>
      </tr>
      <tr>
        <td><br>
          <br> Caso você não tenha solicitado
          este cadastro, favor ignorar este e-mail.
          <br>
          <hr>
          Atenciosamente, equipe TechNow.</td>
      </tr>
    </tbody>
  </table>
</div>

<style>
  .wrapper {
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 35px 14px 5px 14px;
    font-size: 16px;
    max-width: 800px;
    margin: 0 auto;
    color: #555;
  }

  .logo {
    width: 135px;
  }

  .wrapper .btn-confirm {
    padding: 11px 18px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #7c60d8;
    border: 1px solid #5234b4;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
  }
</style>
