<strong>Olá, {{ user }}</strong>
<p>Por favor, para continuar o processo de cadastro, click no link abaixo para validar seu email.</p>
<p class="teste">
  <strong>Click aqui:</strong> <a href="{{link}}"> {{ link }}</a> <br />
  <br />
</p>

<style>
  .teste{
    display: none;
  }
</style>
